<app-menuAdmin></app-menuAdmin>

<main id="main" class="main">
  <section class="section dashboard">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <!-- Sales Card -->
          <div class="col-xxl-3 col-md-6">
            <div class="card info-card sales-card">
              <div class="card-body">
                <h5 class="card-title">Nombre de Boxes libres</h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="ri-inbox-line"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{ nbFreeBoxes }}</h6>
                    <span class="text-muted small pt-2 ps-1">Boxes disponibles</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xxl-3 col-xl-12">
            <div class="card info-card customers-card">
              <div class="card-body">
                <h5 class="card-title">Nombre de Boxes occupées</h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="ri-lock-line"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{ nbUnavailableBoxes }}</h6>
                    <span class="text-muted small pt-2 ps-1">Boxes occupées</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Revenue Card -->
          <div class="col-xxl-3 col-md-6">
            <div class="card info-card revenue-card">
              <div class="card-body">
                <h5 class="card-title">Nombre d'abonnements</h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="ri-file-text-line"></i>
                    </div>
                  </div>
                  <div class="ps-3">
                    <h6>{{ nbActiveAbonnements }}</h6>
                    <span class="text-muted small pt-2 ps-1">Abonnements actifs</span>

                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Revenue Card -->

          <!-- Customers Card -->
          <div class="col-xxl-3 col-xl-12">
            <div class="card info-card revenue-card">
              <div class="card-body">
                <h5 class="card-title">Chiffre d'affaire par mois</h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="ri-money-dollar-circle-line"></i>
                  </div>

                  <div class="ps-3">
                    <h6>{{ chiffreAffaires }}</h6>
                    <span class="text-muted small pt-2 ps-1">Ariary / mois</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-4">

            <div class="col-md-8">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Évolution du Chiffre d'Affaire</h5>
                  <canvas id="caChart"></canvas>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Type d'abonnement utilisé</h5>
                  <canvas id="typeChart"></canvas>
                </div>
              </div>
            </div>

          </div>
          <!-- End Customers Card -->
          <!--  <div class="row">
            <div class="col-md-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Nombre de rendez-vous par mois <span> | {{ anneeSelectionnee }}</span></h5>
                  <div class="col-md-4">
                      <form (ngSubmit)="loadStat()">
                          <select class="form-select" aria-label="Default select example" name="anneeSelectionnee"
                            [(ngModel)]="anneeSelectionnee">
                            <option *ngFor="let annee of annees" value="{{annee}}">
                              {{ annee }}
                            </option>
                          </select>
                          <button type="submit" class="btn btn-primary">Ok</button>
                      </form>
                  </div>
                  <div style="position: relative; height: 400px;">
                    <canvas id="myChart"></canvas>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Nombre de demande de devis par mois <span> | {{ anneeSelectionnee2 }}</span></h5>
                  <div class="col-md-4">
                    <form (ngSubmit)="loadStatDemande()">
                      <select class="form-select" aria-label="Default select example" name="anneeSelectionnee2"
                            [(ngModel)]="anneeSelectionnee2">
                            <option *ngFor="let annee of annees" value="{{annee}}">
                              {{ annee }}
                            </option>
                          </select>
                      <button type="submit" class="btn btn-primary">Ok</button>
                    </form>
                  </div>
                  <div style="position: relative; height: 400px;">
                    <canvas id="myChart2"></canvas>
                  </div>
                </div>
              </div>
            </div>

          </div> -->

        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>