<div class="contenu-abonnement-boutique">
    <div class="card">
        <div class="row">
            <div class="col-md-6">
                <div class="card-body">
                    <h5 class="card-title"><strong>Informations sur l'abonnement</strong></h5>
                    <p class="card-text"><strong>Nom:</strong> {{ user.nomUtilisateur }}</p>
                    <p class="card-text"><strong>Email:</strong> {{ user.email }}</p>
                    <p class="card-text"><strong>Téléphone:</strong> {{ user.numero }}</p>
                    <p class="card-text"><strong>Rôle:</strong> {{ user.role?.libelle }}</p>
                </div>
            </div>
        </div>
    </div>
</div>  `