<section class="add-product">
    <button mat-flat-button (click)="openDialog()">Launch dialog</button>
</section> <br>
<div class="row">
    <div class="col-xxl-3 col-md-4" *ngFor="let produit of produits">
        <div class="card">
            <img [src]="produit.imageProduit?.path || 'img/not-found.svg'" class="card-img-top"
                alt="{{ produit.nom }}">
            <div class="card-body">
                <h5 class="card-title">{{ produit.nom }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ produit.marque }}</h6>
                <p class="card-text">{{ produit.description }}</p>
                <p class="card-text fw-bold">{{ produit.prix }} {{ produit.devise }}</p>
            </div>
        </div>
    </div>
</div>